<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../../css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../../css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="../../css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../../css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../../css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../../css/style.css" type="text/css">
    <style>
        .header__menu ul li a {
            font-size: 16px;
        }

        .header__nav__option a span {
            color: #fff;
            font-size: 14px;
            position: absolute;
            right: -10px;
            top: -10px;
            border-radius: 50%;
            background-color: palevioletred;
            z-index: 999;
            width: 25px;
            height: 25px;
            line-height: 25px;
            text-align: center;
        }

        #search_value {
            max-width: 500px;
        }

        .customInputNavBar:focus {
            background-color: #0c0c0c;
            color: #fff;
            border: none;
        }

        .form-control:focus {
            outline: 0;
            box-shadow: 0 0 0 .2rem rgb(255 255 255 / 25%);
        }

        .search-model-form input {
            border-bottom: 1px solid #9b9b9b;
        }

        .nav-item.dropdown .dropdown-toggle {
            display: flex;
            align-items: center;
            color: #fff;
            text-decoration: none;
        }

            .nav-item.dropdown .dropdown-toggle img {
                margin-right: 10px;
            }

            .nav-item.dropdown .dropdown-toggle .user-name {
                color: #fff;
                text-decoration: none;
            }

        .nav-item.dropdown .dropdown-menu {
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }

            .nav-item.dropdown .dropdown-menu .dropdown-item {
                color: #333;
                padding: 10px 20px;
                text-decoration: none;
            }

                .nav-item.dropdown .dropdown-menu .dropdown-item:hover {
                    background-color: #f8f9fa;
                }

        .non_active_messeage {
            display: block;
            text-align: right;
        }

        .active_messeage {
            display: flex;
            justify-content: space-between;
            align-content: center;
            text-align: center;
        }
    </style>
</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="#">Sign in</a>
                <a href="#">FAQs</a>
            </div>
            <div class="offcanvas__top__hover">
                <span>Usd <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="../../img/icon/search.png" alt=""></a>
            <a href="#"><img src="../../img/icon/heart.png" alt=""></a>
            <a href="/Client_Cart/Index">
                <img src="../../img/icon/cart.png" alt="">
                <span>@Session["numberOfCart"]</span>
            </a>
            <div class="price">$0.00</div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-5" style="padding-right: 0;">
                        @{
                            var messeage_outOfRange = TempData["messeage_outOfStock_1"] as string;
                        }
                        @if (!string.IsNullOrEmpty(messeage_outOfRange))
                        {
                            <div class="header__top__right active_messeage" style="text-align: center; display: flex; justify-content: space-between;">
                                @*@if (!string.IsNullOrEmpty(messeage_outOfRange))
                                    {*@
                                <div class="text-bg-danger" style="padding: 16px; font-size: 18px; font-weight: 800;">
                                    @messeage_outOfRange
                                </div>
                                @*}*@
                                <div class="header__top__links" style="margin: 0; font-size: 24px; margin: 0; font-weight: 700;">
                                    @if (Session["IsAuthenticated"] != null && (bool)Session["IsAuthenticated"])
                                    {
                                        <div class="nav-item dropdown">
                                            <a href="#" style="margin: 0; padding-right: 0;" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                                                <img class="rounded-circle" src="https://c1.klipartz.com/pngpicture/823/765/sticker-png-login-icon-system-administrator-user-user-profile-icon-design-avatar-face-head.png" alt="" style="width: 40px; height: 40px;">
                                                <span class="d-none d-lg-inline-flex user-name">@Session["name"]</span>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a href="/Client_Account/Index" class="dropdown-item">Thông tin cá nhân</a>
                                                <a href="/Client_DanhsachOrders/Index" class="dropdown-item">Đơn hàng của tôi</a>
                                                <a href="~/Logout" class="dropdown-item">Đăng xuất</a>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <a href="~/Login/Index">Đăng nhập</a>
                                        <a href="~/Client_DangNhap_DangKy/DangKy">Đăng ký</a>
                                    }

                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="header__top__right active_messeage" style="text-align: right; display: block;">
                                @*}*@
                                <div class="header__top__links" style="margin: 0; font-size: 24px; margin: 0; font-weight: 700;">
                                    @if (Session["IsAuthenticated"] != null && (bool)Session["IsAuthenticated"])
                                    {
                                        <div class="nav-item dropdown">
                                            <a href="#" style="margin: 0; padding-right: 0;" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                                                <img class="rounded-circle" src="https://c1.klipartz.com/pngpicture/823/765/sticker-png-login-icon-system-administrator-user-user-profile-icon-design-avatar-face-head.png" alt="" style="width: 40px; height: 40px;">
                                                <span class="d-none d-lg-inline-flex user-name">@Session["name"]</span>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a href="/Client_Account/Index" class="dropdown-item">Thông tin của cá nhân</a>
                                                <a href="/Client_DanhsachOrders/Index" class="dropdown-item">Đơn hàng của tôi</a>
                                                <a href="~/Logout" class="dropdown-item">Đăng xuất</a>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <a href="~/Login/Index">Đăng nhập</a>
                                        <a href="~/Client_DangNhap_DangKy/DangKy">Đăng ký</a>
                                    }

                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="/"><img class="custom_logo" src="../../img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class=@Session["TramgChu_active"]><a href="/">Trang chủ</a></li>
                            <li class=@Session["Cuahang_active"]><a href="/Client_Danhsachsanpham/Index">Cửa hàng</a></li>
                            <li class=@Session["Blog_active"]><a href="/Client_Blog/Index">Bài viết</a></li>
                            <li class=@Session["Contact_active"]><a href="/Client_Contact/Index">Liên hệ</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="#" data-toggle="tooltip" title="Tìm kiếm" class="search-switch"><img src="../../img/icon/search.png" alt=""></a>
                        <a href="/Client_Wishlist/Index" data-toggle="tooltip" title="Yêu thích"><img src="../../img/icon/heart.png" alt=""><span>@Session["numberOfWishlist"]</span></a>
                        <a href="/Client_Cart/Index" data-toggle="tooltip" title="Giỏ hàng"><img src="../../img/icon/cart.png" alt=""> <span>@Session["numberOfCart"]</span></a>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Search End -->
    <!-- Js Plugins -->
    <div>
        @RenderBody()
        <hr />
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="../../img/footer-logo.png" alt=""></a>
                        </div>
                        <p>Khách hàng là trung tâm của mô hình kinh doanh độc đáo của chúng tôi, bao gồm cả thiết kế.</p>
                        <a href="#"><img src="../../img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Mua sắm</h6>
                        <ul>
                            <li><a href="#">Cửa hàng</a></li>
                            <li><a href="#">Xu hướng</a></li>
                            <li><a href="#">Phụ kiện</a></li>
                            <li><a href="#">Giảm giá</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Về chúng tôi</h6>
                        <ul>
                            <li><a href="#">Liên hệ với chúng tôi</a></li>
                            <li><a href="#">Phương thức thanh toán</a></li>
                            <li><a href="#">Vận chuyển</a></li>
                            <li><a href="#">Trao đổi</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>Bản tin</h6>
                        <div class="footer__newslatter">
                            <p>Hãy là người đầu tiên biết về hàng mới, sách tra cứu, khuyến mại và khuyến mãi!</p>
                            <form action="#">
                                <input type="text" placeholder="Email...">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>
                            Bản quyền ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script> - 2020
                            Bảo hộ trên mọi nền tảng | Thiết kế bởi <i class="fa fa-heart-o"
                                                                       aria-hidden="true"></i> Nhóm 15
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form" id="searchForm" method="post" action="@Url.Action("Search", "Client_Danhsachsanpham")">
                <input class="form-control" aria-describedby="inputGroupPrepend" required type="text" id="search_value" name="search_value">
                <button style="display: none" type="submit"></button>
            </form>
        </div>
    </div>
    <script src="../../js/jquery-3.3.1.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/jquery.nice-select.min.js"></script>
    <script src="../../js/jquery.nicescroll.min.js"></script>
    <script src="../../js/jquery.magnific-popup.min.js"></script>
    <script src="../../js/jquery.countdown.min.js"></script>
    <script src="../../js/jquery.slicknav.js"></script>
    <script src="../../js/mixitup.min.js"></script>
    <script src="../../js/owl.carousel.min.js"></script>
    <script src="../../js/main.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("searchForm").addEventListener("submit", function (event) {
                var searchValue = document.getElementById("search_value").value.trim();
                console.log(searchValue);
                if (searchValue === "") {
                    event.preventDefault(); // Prevent the submit event
                }
            });
        });
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Template Javascript -->
    <script src="../../js/main.js"></script>
</body>
</html>
