@model IEnumerable<EcomerceWebsite.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<h2 style="font-weight:700;">Loại sản phẩm</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên
        </th>
        <th>
            Ngày tạo
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngayTao)
        </td>
        <td style="text-align:right">
            @Html.ActionLink("Sửa", "Edit", new { id=item.category_id }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.category_id }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.category_id })
        </td>
    </tr>
}

</table>
