@model IEnumerable<EcomerceWebsite.Models.cart>

@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .product__cart__item img.cart__image__product {
        width: 100px;
    }

    button.button_submit_form {
        color: #ffffff;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 2px;
        text-transform: uppercase;
        border: 1px solid #e1e1e1;
        padding: 14px 35px;
        display: inline-block;
        background: #111111;
        border-color: #111111;
    }
</style>
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shopping Cart</h4>
                    <div class="breadcrumb__links">
                        <a href="./index.html">Home</a>
                        <a href="./shop.html">Shop</a>
                        <span>Shopping Cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="shopping__cart__table">
                    <form id="searchForm" method="post" action="@Url.Action("Update_Cart", "Client_Cart")">
                        <table>
                            <thead>
                                <tr>
                                    <th>Sản phẩm</th>
                                    <th>Số lượng</th>
                                    <th>Tổng tiền</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="product__cart__item">
                                            <div class="product__cart__item__pic">
                                                <img class="cart__image__product" src="@item.Product.Image" alt="@item.Product.name">
                                            </div>
                                            <div class="product__cart__item__text">
                                                <input style="display: none" id="cart_id" name="cart_id" value="@item.cart_id" />
                                                <h6>@item.Product.name</h6>
                                                <h5>@item.Product.price</h5>
                                            </div>
                                        </td>
                                        <td class="quantity__item">
                                            <div class="quantity">
                                                <div class="pro-qty-2">
                                                    <input id="quantity_value" name="quantity_value" type="text" value="@item.quantity">
                                                </div>
                                            </div>
                                        </td>
                                        <td class="cart__price">$  @(@item.quantity * @item.Product.price)</td>
                                        <td class="cart__close"><a href="/Client_Cart/Xoa/?id=@item.cart_id"><i class="fa fa-close"></i></a></td>
                                    </tr>
                                }
                                <tr>
                                    <td>
                                        <div class="continue__btn">
                                            <a href="Client_Danhsachsanpham/Index">Tiếp tục mua sắm</a>
                                        </div>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                        <div class="continue__btn update__btn" style="width: 300px">
                                            <button class="button_submit_form" type="submit"><i class="fa fa-spinner"></i> Update cart</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cart__total">
                    <h6>Tổng thanh toán</h6>
                    <ul>
                        <li>Tạm tính <span>$ @ViewBag.totalPrices</span></li>
                        <li>Tổng <span>$ @ViewBag.totalPrices</span></li>
                    </ul>
                    <a href="#" class="primary-btn">Thanh toán</a>
                </div>
            </div>
        </div>
    </div>
</section>
