@model IEnumerable<EcomerceWebsite.Models.shipment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<h2>Shipment</h2>

<style>
    .excelLink {
        padding: 0 5px;
        transition: 0.3s;
        border-radius: 5px;
        font-weight: 600;
        display: block;
    }

        .excelLink:hover {
            background-color: lightgreen;
            color: white !important;
            font-size: 18px;
            height: 30px;
        }
</style>
<div style="display:flex;">
    <p>
        @Html.ActionLink("Thêm mới", "Create")
    </p>
    <div>

        <a class="excelLink" href="@Url.Action("ExportToExcel", "Home", new { code = "Shipment" })" style="color: #21b61f; text-decoration:none; margin-left: 20px;">Xuất file excel <i class="fa fa-file-excel" style="margin-left: 5px;"></i></a>
    </div>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.account.first_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shipment_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.state)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.zip_code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngayTao)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.account.first_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.shipment_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.state)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zip_code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngayTao)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.shipment_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.shipment_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.shipment_id })
            </td>
        </tr>
    }

</table>
