@model EcomerceWebsite.Models.Payment

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Payment</h4>
    @if (ViewBag.erEditPa != null)
    {
        <div style="padding: 10px 20px; border-radius:10px; background-color: green; color: white; font-weight:700;">
            @ViewBag.erEditPa
        </div>
    }
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.payment_id)

    <div class="form-group">
        @Html.LabelFor(model => model.payment_method, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.payment_method, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.payment_method, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
